body {
    font-family: sans-serif;
}

header {
    background: rgb(166, 255, 255);
    border-bottom: 3px solid rgb(224, 42, 179);
}

header a {
    color: rgb(224, 42, 179);
    text-decoration: none;
    margin-bottom: 15px;
}

nav {
    margin: 15px;
}

main {
    margin-left: 10px;
}

.maina {
    border: 3px solid rgb(10, 221, 10);
    text-decoration: none;
    color: black;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: rgb(224, 42, 179);
    font-size: 20px;
    padding: 3px;
    margin: 29px;
}


h1 {
    text-align: center;
    color: rgb(255, 187, 0);
    border-top: 3px solid rgb(224, 42, 179);
}

h2 {
    color: blue;
}

footer {
    background: rgb(236, 164, 239);
    border: 4px solid rgb(236, 164, 239);
}

footer p {
    background: white;
    padding-left: 6px;
}

.Contact {
    padding-left: 20px;
}

.image {
    background: rgb(236, 164, 239);
    border-radius: 15px;
    padding: 10px;
}
